body {
    background-color: #333333;
    color: #999999;
}

#points {
    position: relative;
}

.card {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 80px;
    border: 1px solid #666
}

#points .card:hover {
    background-color: #666666;
    cursor: pointer;
}

#points .card.selected {
    background-color: cornflowerblue;
    color: #333333;
}

.hidden {
    visibility: hidden;
}


#middle {
    display: inline-block;
}

#table {
    height: 150px;
    background: rgba(231, 197, 159, 0.8);
    border-radius: 20px;

}

/*.seats {*/
/*    width: 450px;*/
/*}*/

.seat {
    display: inline-block;
    margin: 20px;
}
